html {
    /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
    font-size: 10px; 
    /* Google fonts 输出的 CSS */
    

    font-family: 'Indie Flower', cursive;

    


  }
  html {
      background: rgb(118, 31, 218)
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: rgb(170, 207, 4);
    padding: 0 30px 20px 30px;
    border: 3px solid black;
  }
  h1 {
    font-size: 70px;
    text-align: center;
  }
  p {
    
    font-size: 20px;    
    line-height: 2;
    letter-spacing: 1px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  h2 {
    
    font-size: 45px;
    text-align: left;
  }
  
  h3 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    text-align: right;
  }
  